/* COLOR PALETTE

Dark green    #3c8453
Sandy beige   #bcaa96
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6
*/
/* GLOBAL STYLES 
-----------------------------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
    font-size: 62.5%;

}
  *, *:before, *:after {
    box-sizing: inherit;
}

html, body{
    height: 100%;
}

body{
   background:  #f6f6f6 ;
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.5rem;
   line-height: 1.4;
}

h1, h2, h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;

}

.content-wrapper{
    margin: 0 auto;
    padding: 30px;
    max-width: 900px
}
h1{
    font-size: 6rem;
    line-height: 0.85;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 2.4rem;
}
/*LINKS STYLES 
---------------------------------------*/
a{
    color:  #3c8453 ;
}
a:hover{
    color: #3c8453;
    text-decoration: none;
}
footer a{
    color:#bcaa96
}
footer a:hover{
    color:#3c8453 
}
.btn{
    background: #3c8453;
    color: white;
    text-decoration: none;
}
/* HOME
-----------------------------------------*/
.home {
background: url(../images/bg-home-office-bookshelf.jpg) no-repeat;
background-size:contain;
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
}

.home .content-wrapper {
    flex: 1 0 auto;
}

.content-bg{
    background: rgb(255 255 255 / 0.8 );
    padding: 30px;
}
@media screen and (max-width: 650px) {
    .home .content-wrapper {
        padding: 10px;

    }
    .content-bg{
        padding: 20px;
    }  
}
@media screen and (max-width: 904px){
    .home-header{
        font-size: 2.4rem;
    }
}
@media screen and (max-width: 800px){
    .home-header{
        font-size: 2.1rem;
    }
}
/* RESUME 
-----------------------------------------*/
.resume header::before{
    background: url(../images/bg-home-office-bookshelf.jpg) center;
    background-size: cover;
    background-position: center;
    content: "";
    display:block;
    height: 260px;
}
.resume-section{
    margin-bottom: 50px;
}
.resume-section h2{
    border-bottom: 2px dashed  #d3d4d6;
}
.download-link{
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 1.5rem;
}
@media screen  and (max-width: 1200px){
    .download-link{
        position: absolute
    }
    
}
@media screen  and (max-width: 500px){
    .resume header::before {
       height: 200px;
    }
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 2.6rem;
    }
}
/* EDUCATION 
-----------------------------------------*/
/* PROJECTS
-----------------------------------------*/
.project-item{
    display: flow-root  
}
.project-item img{
    width: 300px;
}
.project-link{
    background-color: #3c8453 
    ;
    color: white;
    text-decoration: none;
}
@media screen and (min-width: 860px){
    .project-item{
        display: flow-root;
        margin: 30px 0;
        
    }
    .project-item img{
        float: left;
        margin-right: 20px;
    }
}
@media screen and (min-width: 650px) and (max-width: 859px){
    .project-wrapper{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    .project-item img{
        width: 100%;
    }
}
@media screen and (max-width: 500px){
    .project-item img{
        width: 100%;
        margin-bottom: 10px;
    }
}
/*WORK EXPERIENCE
------------------------------------------*/
.work-item{
    margin: 30px 0;
}
.work-details p {
margin: 0;
}
@media screen  and (min-width: 860px){
    .work-item{
        display: grid;
        grid-template-columns: 300px 1fr;
        column-gap: 20px;
    }
    .work-summary p:first-child{
        margin-top: 0;
    }
    
}

/* FOOTER 
-----------------------------------------*/
footer{
    background: black;
    color:  white;
}

.socials{
    list-style-type: none;
    padding: 0;
}
.socials img {
width: 32px;
}
.socials li{
    display: inline-block;
    margin-left: 10px;
}

.socials img:hover{
    opacity: 0.5;
}
@media  screen and (min-width: 795px) {
   footer{ 
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
   }
}
@media  screen and (max-width: 794px) {
    footer{ 
        text-align: center;
        padding: 10px;
    }
   }
